.explanation {
	font-size: 12px;
	font-style: italic;
}

.org_name {
	font-style: italic;
}

.donation_info_link:link {
    text-decoration: none;
}

.donation_info_link:visited {
	text-decoration: none;
	color: #337ab7;
}

.donation_info_link:active,
.donation_info_link:hover {
  outline: 0;
}
.donation_info_link:hover,
.donation_info_link:focus {
  color: #23527c;
}
.donation_info_link.text-primary:hover {
  color: #286090;
}
/*.donation_info_link.text-success:hover {
  color: #2b542c;
}*/
/*.donation_info_link:hover {
}

.donation_info_link:active {
    color: #c3c3c3;
}*/