
.title {
  font-family: 'Pacifico', cursive;
}

.navbar-brand {
  font-size: 25px;
}


h1,
h2,
h3,
h4,
h5,
h6,
label,
button,
ul,
.flashes,
p {
  font-family: 'Raleway', sans-serif;
  color: "black";
}

label {
  font-size: 14px;
  font-weight: normal;
}

.explanation {
	font-size: 12px;
	font-style: italic;
}

.org_name {
	font-style: italic;
}

.donation_info_link:link {
    text-decoration: none;
    color: #000000;
}

.donation_info_link:visited {
  text-decoration: none;
  color: #000000;
}

.donation_info_link:hover {
  color: #000000;
  text-decoration: underline;
}

.donation_info_link:visited:hover {
  text-decoration: underline;
  color: #000000;
}

body {
  background-color: #FFF9D9;
}

#homepage {
  background-image: url("/static/images/cover_golden.jpg");
  background-attachment: fixed;
  color: #000000;
  font-size: 16px;
}

#homepage label {
  font-size: 16px;
}

button:focus {
  outline: none;
}


input:focus {
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  border: 1px solid rgba(0,0,0,0.3);
  outline: none;
  background: none;
  color: #000000;
  text-shadow: none;
}

input {
  display: block;
  border: none;
  background-color: rgba(0,0,0,0.1);
}

input[type='number'] {
  width: 40px;
  display: inline-block;
}

#qty {
  height: 30px;
  text-align: center;
  font-weight: medium;
}

.btn-default:hover {
  background-color: rgba(0,0,0,0.1);
  background-image: none;
  color: #000000;
  text-shadow: none;
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  border: 1px solid rgba(0,0,0,0.3);
}

input,
select,
.btn-default {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.2);
  outline: none;
  background: none;
  color: #000000;
  text-shadow: none;
  font-weight: medium;
}

.btn-group-xs>.btn, .btn-xs {
  padding: 1px 10px;
}

.challenge_txt .accept_btn_homepage {
  display: inline-block;
}
.accept_btn_homepage {
  margin-left: 10px;
  font-size: 16px;
}

#update_qty_label #update_qty {
  display: inline-block;
}
#qty_label #qty {
  display: inline-block;
}
#manual_estimate_label #manual_estimate {
  display: inline-block;
}

.challenge_statements {
  border-radius: 5px;
  background:rgba(255, 255, 255, 1);
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #dba366;
}

.box {
  border-radius: 10px;
  background:rgba(255, 249, 217, 0.4);
}

#give_box {
  background:rgba(255, 249, 217, 0.5);
  margin-bottom: 25px;
}