<!doctype html>
<html>
<head>
  <title>Final Project</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
</head>

<body>
  Final Project
  <hr>

  {% if session.get("login") %}
    <a href="/logout">Logout</a>
  {% else %}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  {% endif %}

  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="flashes">{{ message }}</div>
      {% endfor %}
  {% endwith %}

  {% block content %} ADD CONTENT HERE!!! {% endblock %}
  <img src="https://placekitten.com/g/200/300"/>

</body>
</html>