{% extends 'base.html' %}
{% block content %}

<h1>Build your own challenge!</h1>

<div id="step1">
    <form>
        <label>I spend too much money on
            <select name="original_items" onchange="showStep2()">
                    <option value="choose_an_item"></option>
                {% for original_items in challenges_list %}
                    <option value="{{ original_items }}">{{ original_items }}</option>
                {% endfor %}
            </select>
        </label>
    </form>
</div>

<div id="step2">
    <p>How many [[ alternative_items ]] will you substitute for [[ original_items ]]?</p>
    <form>
        <label>number of [original_items from dropdown]
            <input type="number" name="qty">
        </label>
    </form>
    <p>[amount you save - calculates from qty and price of original_items (attribute of challenge object)]</p>
</div>

<div id="step3">
    <p>With [amount that you save], you can donate [donation item]!</p>
    -----------click to accept -- input type=submit? method=post -------------------------------
</div>

<script>
    $("#step2").css("visibility", "hidden");
    $("#step3").css("visibility", "hidden");

    function showStep2() {
        var original_items = $("#step1 option:selected").text();
        console.log(original_items);
        $("#step2").load("/challenge_builder_step2/" + original_items);
        $("#step2").css("visibility", "visible");
            };

// $(document).ready(funtion(){
// var $step1 = $('step1');
// $form.submit(funtion(e){
//     e.preventDefault();
//     $.ajax({
//         type: "GET",
//         data: $(this).serialize(), 
//         cache: false,
//         success: functionName
//     });
//   });
// });   

</script>

<!-- $(document).ready(funtion(){
var $form = $('form');
$form.submit(funtion(e){
    e.preventDefault();
    $.ajax({
        type: "POST",
        data: $(this).serialize(), 
        cache: false,
        success: displayResults
    });
  });
});
 -->

<!-- on select (event), send info through flask route and then use ajax to make the next one appear send the data back to the next form -> back to the route and then evaluate what info to send back to html -->

{% endblock %}