{% extends 'base.html' %}
{% block content %}

<h1>Build your own challenge!</h1>

<div id="step1">
    <form>
        <label>I spend too much money on
            <select name="original_items" onchange="showStep2()">
                    <option value="choose_an_item"></option>
                {% for original_items in challenges_list %}
                    <option value="{{ original_items }}">{{ original_items }}</option>
                {% endfor %}
            </select>
        </label>
    </form>
</div>

<div id="step2"><br>
    <form>
        <label>How many <span class="alt"></span> will you substitute for <span id="orig"></span>?<br>
            <input type="number" name="qty" id="qty" oninput="showStep3()"> <span class="alt"></span><br>
        </label>
    </form>
</div>

<div id="step3">
    <p>You will save $<span id="savings"></span>!</p>

    <p>With $<span id="savings"></span>, you can donate <span id="donation_item"></span>!</p>
    -----------click to accept -- input type=submit? method=post -------------------------------
</div>

<script>
    $("#step2").css("visibility", "hidden");
    $("#step3").css("visibility", "hidden");

    function showStep2() {
        var original_items = encodeURIComponent($("#step1 option:selected").text());
        $.get(
            "/challenge_builder_step2/" + original_items,
            function (result) {
                $(".alt").text(result.alternative_items);
                $("#orig").text(result.original_items);
            }
        );
        $("#step2").css("visibility", "visible");
            };

    function showStep3() {
        var original_items = $("#step1 option:selected").text();
        var qty = $("#qty").val();
        $.get(
            "/challenge_builder_step2/" + original_items,
            function (result) {
                $("#savings").text(result.savings * qty);
            }
        );
        $.get(
            "/challenge_builder_step3/" + qty,
            function (result) {
                $("#donation_item").text(result.donation_item);
            }
        $("#step3").css("visibility", "visible");
            };


// $(document).ready(funtion(){
// var $step1 = $('step1');
// $form.submit(funtion(e){
//     e.preventDefault();
//     $.ajax({
//         type: "GET",
//         data: $(this).serialize(), 
//         cache: false,
//         success: functionName
//     });
//   });
// });   

</script>

<!-- $(document).ready(funtion(){
var $form = $('form');
$form.submit(funtion(e){
    e.preventDefault();
    $.ajax({
        type: "POST",
        data: $(this).serialize(), 
        cache: false,
        success: displayResults
    });
  });
});
 -->

<!-- on select (event), send info through flask route and then use ajax to make the next one appear send the data back to the next form -> back to the route and then evaluate what info to send back to html -->

{% endblock %}