{% extends 'base.html' %}
{% block content %}

<!-- <h1>{{ firstname }}'s Profile</h1> -->

<div class="container-fluid">
  <row>
    <div id="overall_progress_chart" class="col-sm-8" style="width:60%; height:400px;"></div>

    <div class="col-sm-4">
      {% if users_current_challenges|length >= 1 %}
        <div id="current_challenges">
          {% if users_current_challenges|length == 1 %}
            <h4>Current Challenge</h4>
          {% else %}
            <h4>Current Challenges</h4>
          {% endif %}

          {% for challenge in users_current_challenges|reverse %}
            <p>
              I will substitute {{ challenge[0] }} {{ challenge[1] }} for {{ challenge[2] }} 
              and use the ${{ "%0.2f" % challenge[4] }} I save to {{ challenge[3] }}.
            </p>
            <input type="button" class='btn btn-default view_button' value="View Challenge"
            data-acid="{{ challenge[6] }}">
            <input type="button" class='btn btn-default cancel_button' 
            value="Cancel Challenge" data-acid="{{ challenge[6] }}">
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </row>

  {% if users_completed_challenges|length >= 1 %}
  <row>
    <div id="completed_challenges" class="col-sm-12">
      {% if users_completed_challenges|length == 1 %}
        <h4>Completed Challenge</h4>
      {% else %}
        <h4>Completed Challenges</h4>
      {% endif %}

      {% for challenge in users_completed_challenges|reverse %}
        <p>
          I will substitute {{ challenge[0] }} {{ challenge[1] }} for {{ challenge[2] }} 
          and use the ${{ "%0.2f" % challenge[4] }} I save to {{ challenge[3] }}.
        </p>
          <input type="button" class='btn btn-default view_button' value="View Challenge"
          data-acid="{{ challenge[6] }}">
      {% endfor %} 
    </div>
  </row>
  {% endif %}
</div>

<script>

    $(".view_button").click(viewChallenge);

    function viewChallenge(evt) {
        var data = $(evt.currentTarget).data();
        var form = document.createElement('form');
        $(form).attr("action", "/view_challenge");
        $("<input>").attr({
                name: "ac_id",
                value: data.acid
            }).appendTo(form);
        $(form).submit();
    }

    $(".cancel_button").click(cancelChallenge);

    function cancelChallenge(evt) {
        var data = $(evt.currentTarget).data();
        var form = document.createElement('form');
        $(form).attr("action", "/cancel_challenge");
        $("<input>").attr({
                name: "ac_id",
                value: data.acid
            }).appendTo(form);
        $(form).submit();
    }

    $.get("/overall_progress_chart/{{ user_id }}",
        function (result) {
            console.log(result);
            var coordinates = []
            var total_progress = 0
            console.log(result.progress_updates)
            _.each(result.progress_updates, function(update) {
                total_progress = total_progress + update.update_amt
                var updated_at = update.updated_at
                updated_at = new Date(updated_at)
                console.log(updated_at)
                time = Date.UTC(updated_at.getFullYear(), 
                                updated_at.getMonth(), 
                                updated_at.getDate())
                coordinates.push([time, total_progress])
            });
            console.log(coordinates)
            $(function () { 
                $('#overall_progress_chart').highcharts({
                    chart: {
                        type: 'spline',
                        ignoreHiddenSeries: false,
                        marginRight: 35,
                        style: {
                                'font-family': "'Raleway', sans-serif"
                            }
                    },
                    title: {
                        text: 'My Progress'
                    },
                    xAxis: {
                        type: 'datetime',
                        dateTimeLabelFormats: {
                            month: '%e %b',
                            year: '%b'
                        },
                        title: {
                            text: 'Date'
                        }
                    },
                    yAxis: {
                        title: {
                            text: 'Amount saved'
                        },
                        min: 0,
                        plotLines: [{
                            value: result.goal,
                            width: 2,
                            color: 'blue',
                            dashStyle: "dash",
                            label: {
                                text: 'Challenge: $' + result.goal,
                                align: 'right'
                            }
                        }]
                    },
                    tooltip: {
                        pointFormat: 'Total savings: ${point.y:.2f}'
                    },
                    legend: {
                        enabled: false
                    },

                    plotOptions: {
                        spline: {
                            marker: {
                                enabled: true
                            }
                        }
                    },

                    series: [{
                        name: 'Progress',
                        data: coordinates
                    },
                    {
                        name: 'Hidden - for scale',
                        data: [[coordinates[0][0], result.goal]],
                    }]
                });
                $('#overall_progress_chart').highcharts().series[1].hide();
            });  
        }
    );
    
</script>


{% endblock %}