{% extends 'base.html' %}
{% block content %}

<h1>{{ firstname }}'s Profile</h1>


<h1>GRAPH!!!</h1>





{% for challenge in users_challenges %}
    {% if challenge[5] == None %}
        <h4>Current Challenge[s]</h4>
        <p>I will substitute {{ challenge[0] }} {{ challenge[1] }} for {{ challenge[2] }} 
            and use the {{ challenge[3] }} I save to {{ challenge[4] }}.</p>
    {% else %}
        <h4>Completed Challenge[s]</h4>
        <p>I will substitute {{ challenge[0] }} {{ challenge[1] }} for {{ challenge[2] }} 
            and use the {{ challenge[3] }} I save to {{ challenge[4] }}.</p>
    {% endif %}
{% endfor %}


{% endblock %}