{% extends 'base.html' %}
{% block content %}

<h1>{{ firstname }}'s Profile</h1>

<div id="overall_progress_chart">
<h1>GRAPH!!!</h1>
</div>

<div id="current_challenges">
{% if users_current_challenges|length == 1 %}
    <h4>Current Challenge</h4>
{% else %}
    <h4>Current Challenges</h4>
 {% endif %}

    {% for challenge in users_current_challenges %}
            <p>I will substitute {{ challenge[0] }} {{ challenge[1] }} for {{ challenge[2] }} 
            and use the ${{ "%0.2f" % challenge[4] }} I save to {{ challenge[3] }}.</p>

    {% endfor %}
</div>

<div id="completed_challenges">
{% if users_completed_challenges|length == 1 %}
    <h4>Completed Challenge</h4>
{% else %}
    <h4>Completed Challenges</h4>
 {% endif %}

    {% for challenge in users_completed_challenges %}
        <p>I will substitute {{ challenge[0] }} {{ challenge[1] }} for {{ challenge[2] }} 
            and use the ${{ "%0.2f" % challenge[4] }} I save to {{ challenge[3] }}.</p>
    {% endfor %} 
</div>




{% endblock %}