{% extends 'base.html' %}
{% block content %}

<h1>Transaction Analysis</h1>


<div id="transaction_categories" style="width:600px; height:400px;"></div>

<div id="targeted challenges">
    <h3>We challenge you to:</h3>
    {% for challenge in targeted_challenges %}
    <p>
        Substitute {{ challenge.accepted_qty }} {{ challenge.challenge.alternative_items }} 
        for {{ challenge.challenge.original_items }} and save about 
        ${{ "%.2f" % challenge.donation.donation_price }} 
        to <a href="#" class="donation_info_link">{{ challenge.donation.donation_item }}</a>.
    </p>
    <div class="donation_info">
        <p>{{ challenge.donation.description }}</p>
        <p>Organization: {{challenge.donation.organization.org_name }}</p>
    </div>
    <input type="button" data-acid="{{ challenge.ac_id }}"
        value="Accept" class="accept_button">

    {% endfor %}
</div>

<p>
    Please note, this graph does not contain all of your transactions, just the ones that are
    useful for us to determine what kinds of luxury items and basic necessities you spend your 
    money on. You won't see your rent bill for example, or miscellaneous financial transactions.
    To get the most accurate estimates from us and the best targeted challenges, make sure you
    don't have any outstanding uncategorized transactions on Mint and check to see whether 
    they've categorized your other transactions accurately.
</p>

<script>

    var categories = {{ categories|tojson|safe }};
    categories = JSON.parse(categories)
    console.log(categories)
    
    var category_array = [];
    var amounts = [];

    _.each(categories, function(value, key) {
        category_array.push(key);
        amounts.push(value);
    });
    console.log(category_array)

    $('#transaction_categories').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Your spending categories'
        },
        xAxis: {
            categories: category_array
        },
        credits: {
            enabled: false
        },
        series: [{
            data: amounts
        }]
    });

    $(".donation_info").hide();
    $(".donation_info_link").click(toggleDonationInfo);
    function toggleDonationInfo() {
        $(this).closest("p").next("div").toggle();
    }
    $(".accept_button").click(acceptChallenge);

    function acceptChallenge(evt) {
        var data = $(evt.currentTarget).data();
        var form = document.createElement('form');
        console.log(data.acid)
        debugger
        $(form).attr("method", "post").attr("action", "/accept_preset_challenge");
        $("<input>").attr({
            name: "ac_id",
            value: data.acid
        }).appendTo(form);
        $(form).submit();
    }

</script>

{% endblock %}