{% extends 'base.html' %}
{% block content %}

<h1>Transaction Analysis</h1>


<div id="transaction_categories" style="width:800px; height:400px;"></div>

<p>
    Please note, this graph does not contain all of your transactions, just the ones that are
    useful for us to determine what kinds of luxury items and basic necessities you spend your 
    money on. You won't see your rent bill for example, or miscellaneous financial transactions.
    To get the most accurate estimates from us and the best targeted challenges, make sure you
    don't have any outstanding uncategorized transactions on Mint and check to see whether 
    they've categorized your other transactions accurately.
</p>

<script>

    var categories = {{ categories|tojson|safe }};
    categories = JSON.parse(categories)
    console.log(categories)
    
    var category_array = [];
    var amounts = [];

    _.each(categories, function(value, key) {
        category_array.push(key);
        amounts.push(value);
    });
    console.log(category_array)

    $('#transaction_categories').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Your spending categories'
        },
        xAxis: {
            categories: category_array
        },
        credits: {
            enabled: false
        },
        series: [{
            data: amounts
        }]
    });













            // console.log(result);
            // var coordinates = []
            // var total_progress = 0
            // console.log(result.progress_updates)
            // _.each(result.progress_updates, function(update) {
            //     total_progress = total_progress + update.update_amt
            //     var updated_at = update.updated_at
            //     updated_at = new Date(updated_at)
            //     console.log(updated_at)
            //     time = Date.UTC(updated_at.getFullYear(), 
            //                     updated_at.getMonth(), 
            //                     updated_at.getDate())
            //     coordinates.push([time, total_progress])
            // });

</script>

{% endblock %}