{% extends 'base.html' %}
{% block content %}

<a class="navigation" href="/profile">View Profile</a>

<h1>View Challenge</h1>

<span>
    <h1>GRAPH!!!</h1>
    <canvas id="indiv_progress_chart" width="200" height="200"></canvas>
</span>

<span id="challenge">
    <h4>My Challenge:</h4>
    <p>I have agreed to substitute {{ qty }} {{ alternative_items }} for {{ original_items }}
        and use the ${{ "%0.2f" % donation_price }} I save to {{ donation_item }}.</p>
    <p>{{ donation_description }}</p>
    <p>Organization: {{ org_name }}</p>
</span>

{% if completed_at == None %}
    <h4>Update my progress:</h4>
    <form>
        <label>I have successfully substituted
            <input type="number" name="update_qty" id="update_qty"
                    oninput="calcEstimate()"
                    data-altcost="{{ alternative_cost }}"
                    data-origcost="{{ original_cost }}">
            {{ alternative_items }} for {{ original_items }}.<br>
        </label>

        <div id="update_statement">
        </div><br>
            
            <input type="button" value="Edit Estimate" id="edit_estimate">
            <input type="button" value="Submit Update" id="submit_update">
    </form>

    
    <p>I'm so close to reaching my goal! I would like to declare my challenge complete
        with my current progress as is and <a href="/donate/{{ ac_id }}">donate now</a>.
    </p>
    


{% else %}
    <h4>
        Congratulations! You have saved ${{ "%0.2f" % total_progress }} and completed this challenge! Would you like to <a href="/donate/{{ ac_id }}">donate now</a>?
    </h4>

{% endif %}


<script>
    
    function calcEstimate() {
        $("#update_statement").empty();
        var update_qty = $("#update_qty").val()
        var data = $("#update_qty").data();
        var altcost = data.altcost;
        var origcost = data.origcost;
        var calculated_estimate = (origcost - altcost) * update_qty;
        $("#submit_update").attr("data-calculated_estimate", calculated_estimate)
        $("#submit_update").attr("data-ac_id", {{ ac_id }})
        $("#update_statement").append("<p>We estimate that you saved $" +
            calculated_estimate + ".</p>");
    }

    $("#edit_estimate").click(editEstimate);

    function editEstimate() {
        $("#update_statement").empty();
        var data = $("#submit_update").data();
        $("#update_statement").append("<label>I estimate that I really saved $" +
                        "<input type='number' name='manual_estimate' id='manual_estimate'" +
                        "placeholder='" + data.calculated_estimate +
                        "' oninput='enterEstimate()'></label>");
    }

    function enterEstimate() {
        var manual_estimate = $("#manual_estimate").val();
        $("#submit_update").attr("data-manual_estimate", manual_estimate);
    }

    $("#submit_update").click(submitUpdate);

    function submitUpdate(evt) {
        var data = $(evt.currentTarget).data();
        manual_estimate = $("#submit_update").attr("data-manual_estimate")
        if (manual_estimate !== undefined) {
            data_obj = { ac_id: data.ac_id, 
                        progress_amt: manual_estimate };
        } else {
            data_obj = { ac_id: data.ac_id, 
                        progress_amt: data.calculated_estimate };
        }
        console.log(data_obj)
        var form = document.createElement('form');
        $(form).attr("method", "post").attr("action", "/update_progress");
        _.each(data_obj, function(value, key) {
            $("<input>").attr({
                name: key,
                value: value
            }).appendTo(form);
        });
        $(form).submit();
    }


    $.get("/indiv_progress_chart/{{ ac_id }}",
        function (result) {
            console.log(result);
        }
    );

    var ctx = $("#indiv_progress_chart").get(0).getContext("2d");
    

    var data = {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [
            {
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [65, 59, 80, 81, 56, 55, 40]
            },
        ]
    };
    var overall_progress_chart = new Chart(ctx).Line(data);
</script>


{% endblock %}